<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración del servidor</title>
</head>
<body>
    <h1>Datos para configurar el servidor</h1>
    <h2>Datos para el archivo .env</h2>
    <p>MONGODB_URL='Dirección de la base de datos mongo'</p>
    <p>PORT=8080</p>
    <p>SECRET_KEY='clave secreta de JWT'</p>
    <p>MAIL='mail de nodemailer'</p>
    <p>MAIL_PASSWORD='password de nodemailer'</p>
    <p></p>
</body>
</html>